Repository aiidateam/reentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, travis-linter

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-yapf
  sha: v0.24.0
  hooks:
  - id: yapf
    language: system

- repo: local
  hooks:
  - id: prospector
    language: system
    types: [file, python]
    name: prospector
    description: "This hook runs Prospector: https://github.com/landscapeio/prospector"
    entry: prospector
  - id: travis-linter
    name: travis
    entry: travis lint
    files: .travis.yml
    language: ruby
    additional_dependencies: ['travis']
  - id: version-updater
    name: version
    language: system
    entry: python ops/update_version.py
    always_run: true

fix prospector version
  setup.json
Due: none

fix prospector verison
  .travis.yml
  setup.json
Due: travis-linter

updated: remove obsolete setup_version_pat
  ops/update_version.py
Due: prospector

Fix conda tests (#37)
  .pre-commit-config.yaml
  .pylintrc
  MANIFEST.in
  ops/update_version.py
  reentry/config.py
  reentry/jsonbackend.py
  setup.json
  setup.py
Due: prospector

bump version number to 1.2.2
  ops/update_version.py
  reentry/__init__.py
  setup.json
Due: prospector

fix handling of json files
  ops/update_version.py
Due: prospector

fixes for pathlib
  .travis-tests/host-pkg/reentry_test_host/tests.py
  ops/update_version.py
  reentry/tests/test_config.py
  setup.json
Due: prospector

try fixing travis tests
  .gitignore
  .travis-tests/host-pkg/pyproject.toml
  .travis.yml
  README.rst
  tox.ini
Due: travis-linter

up yapf to 0.27
  .travis-tests/host-pkg/setup.py
  .travis-tests/noreg-pkg/setup.py
  .travis-tests/plugin-pkg/setup.py
  reentry/config.py
  setup.json
  setup.py
Due: prospector

bring back reentry build dependency
  .travis-tests/host-pkg/pyproject.toml
  .travis-tests/host-pkg/setup.py
Due: prospector

fix pre-commit dependencies
  setup.json
Due: none

add 'clear' function
  .travis-tests/host-pkg/reentry_test_host/tests.py
  reentry/cli.py
  reentry/default_manager.py
Due: prospector

allow failure of get_dist
  .travis-tests/host-pkg/setup.py
  .travis.yml
  reentry/__init__.py
  reentry/abcbackend.py
  reentry/default_manager.py
  reentry/hooks.py
  reentry/jsonbackend.py
  run_ci_tests.sh
  run_tests.sh
  setup.json
  tox.ini
Due: prospector, travis-linter

drop reentry_scan hook
  .travis-tests/host-pkg/reentry_test_host/tests.py
  .travis-tests/host-pkg/setup.py
  CHANGELOG.md
  README.rst
  reentry/hooks.py
  setup.json
  tox.ini
Due: prospector

limit coveralls to TEST_TYPE=unittests
  .travis.yml
Due: travis-linter

bump version number to 1.3.0
  reentry/__init__.py
  setup.json
Due: prospector

release 1.3.0 (#48)
  reentry/__init__.py
  setup.json
Due: prospector

config: add option to set data_filename in config.
  reentry/config.py
  reentry/tests/test_config.py
Due: prospector

README.rst: document the configuration file
  README.rst
Due: none

reentry/config.py: fix formatting
  reentry/config.py
Due: prospector

test_config.py: add test for REENTRY_DATA_FILENAME
  reentry/tests/test_config.py
Due: prospector

README.rst: improve phrasing
  README.rst
Due: none

test_config.py: fix pylint errors
  reentry/tests/test_config.py
Due: prospector

Add data filename option to config (#50)
  README.rst
  reentry/config.py
  reentry/tests/test_config.py
Due: prospector

release v1.3.1
  reentry/__init__.py
  setup.json
Due: prospector

release v1.3.1 (#51)
  reentry/__init__.py
  setup.json
Due: prospector

update changelog
  CHANGELOG.md
Due: none

move to github actions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pylintrc
  .travis.yml
  reentry/jsonbackend.py
  reentry/tests/test_data.json
  setup.json
Due: prospector, travis-linter

split dev extra into pre-commit and tests
  .github/workflows/ci.yml
  setup.json
Due: none

only test python 3.9
  .github/workflows/ci.yml
  .pylintrc
  tox.ini
Due: none

move to github actions (#59)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pylintrc
  .travis.yml
  reentry/jsonbackend.py
  reentry/tests/test_data.json
  setup.json
  tox.ini
Due: prospector, travis-linter

clean up references to travis
  .github/host-pkg/pyproject.toml
  .github/host-pkg/reentry_test_host/__init__.py
  .github/host-pkg/reentry_test_host/builtin.py
  .github/host-pkg/reentry_test_host/tests.py
  .github/host-pkg/setup.py
  .github/noep-pkg/pyproject.toml
  .github/noep-pkg/reentry_test_noep/__init__.py
  .github/noep-pkg/setup.py
  .github/noreg-pkg/reentry_test_noreg/__init__.py
  .github/noreg-pkg/reentry_test_noreg/plugin.py
  .github/noreg-pkg/setup.py
  .github/plugin-pkg/pyproject.toml
  .github/plugin-pkg/reentry_test_plugin/__init__.py
  .github/plugin-pkg/reentry_test_plugin/plugin.py
  .github/plugin-pkg/setup.py
  .github/workflows/ci.yml
  README.rst
  reentry/cli.py
  tox.ini
Due: prospector
